<template>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Events from all locations <a href="#" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Add new event"><i class="fas fa-plus-circle"></i></a></h3>

                <div class="card-tools">
                    <!-- pagination -->
                    <ul class="pagination pagination-sm m-0 float-right" v-if="pagination.last_page !== 1">
                        <li class="page-item" v-bind:class="[{ disabled: !pagination.prev_page_link }]"><a class="page-link" href="#" @click.prevent="loadEvents(pagination.prev_page_link)">&laquo;</a></li>
                        <li class="page-item" v-for="n in pagination.last_page" v-bind:key="n" v-bind:class="{ active: pagination.current_page === n }"><a class="page-link" href="#" @click.prevent="loadEvents(pagination.path_page + n)">{{ n }}</a></li>
                        <li class="page-item" v-bind:class="[{ disabled: !pagination.next_page_link }]"><a class="page-link" href="#" @click.prevent="loadEvents(pagination.next_page_link)">&raquo;</a></li>
                    </ul>
                    <!-- /pagination -->
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table">
                    <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Subtitle</th>
                        <th>Description</th>
                        <th>File</th>
                        <th colspan="2"></th>
                    </tr>
                    <tr v-for="event in events" :key="event.id">
                        <td>1.</td>
                        <td>{{ event.date }}</td>
                        <td>{{ event.title }}</td>
                        <td>
                            {{ event.subtitle }}
                        </td>
                        <td>{{ event.short_description }}</td>
                        <td><a class="btn btn-default btn-sm" href="#" data-toggle="modal" data-target="#pdfDoc" @click.prevent="viewDocument(event.document)"><i class="fas fa-file-pdf"></i></a></td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-primary"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-default"><i class="fa fa-eye"></i></a>
                            </div>
                        </td>
                        <td><a class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <!-- pagination -->
                <ul class="pagination pagination-sm m-0 float-right" v-if="pagination.last_page !== 1">
                    <li class="page-item" v-bind:class="[{ disabled: !pagination.prev_page_link }]"><a class="page-link" href="#" @click.prevent="loadEvents(pagination.prev_page_link)">&laquo;</a></li>
                    <li class="page-item" v-for="n in pagination.last_page" v-bind:key="n" v-bind:class="{ active: pagination.current_page === n }"><a class="page-link" href="#" @click.prevent="loadEvents(pagination.path_page + n)">{{ n }}</a></li>
                    <li class="page-item" v-bind:class="[{ disabled: !pagination.next_page_link }]"><a class="page-link" href="#" @click.prevent="loadEvents(pagination.next_page_link)">&raquo;</a></li>
                </ul>
                <!-- /pagination -->
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- Modal -->
        <div class="modal fade" id="pdfDoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe width="100%" height="800" frameborder="0" id="iframe"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                events: {},
                event: {
                    id: '',
                    title: '',
                    subtitle: ''
                },
                pagination: {},
            }
        },
        methods: {
            viewDocument(doc) {
                console.log(doc);
                document.getElementById("iframe").src = doc;
            },
            loadEvents(page_url){
                page_url = page_url || "/api/admin/events";
                axios.get(page_url)
                    .then(
                        ({ data }) => (
                            this.events = data.data,
                            this.makePagination(data.meta, data.links)
                        )
                    )
            },
            makePagination(meta, links) {
                this.pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    from_page: meta.from,
                    to_page: meta.to,
                    total_page: meta.total,
                    path_page: meta.path + "?page=",

                    first_page_link: links.first,
                    last_page_link: links.last,
                    next_page_link: links.next,
                    prev_page_link: links.prev
                };
            }
        },
        mounted() {
            this.loadEvents();
            console.log('Component mounted.')
        }
    }
</script>