// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// HIO Template
@import '../template/scss/hio-custom';
@import '../template/scss/sprite.css';

//$owl-image-path: "/node_modules/owl.carousel/src/img/";
//@import '~owl.carousel/src/scss/owl.carousel';
//@import '~owl.carousel/src/scss/owl.theme.default';

.itext {
  font-size: 2rem;
}

.post-title-news {
  font-size: 1.7rem !important;
  color: $link-color !important;
}

.post-excerpt {
  font-size: 1.2rem;
}

.main-header {
  background-color: $header-bg;
}

.navigation {
  background-color: #F7F6EF !important;
}

.bg-dark {
  background-color: #A8BD6D !important;
}

.table-specs thead tr {
  background: none !important;
}

#ft {
  border-top: none !important;
}

.ft-top {
  background-color: #efeddf !important;
}

#main-hd .logo {
  padding: 5px;
}