
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'variables';

// HIO Template
@import '../template/scss/hio-preserve';
@import '../template/scss/sprite.css';

//Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

.itext {
  font-size: 2rem;
}

.post-title-news {
  font-size: 1.7rem !important;
  color: $link-color !important;
}

.post-excerpt {
  font-size: 1.2rem;
}

.main-header {
  background-color: $header-bg;
}

.page-title {
  margin: 5rem 0 !important;
}

.spacer {
  height: 5rem;
}

li > strong {
  font-weight: bold !important;
}
p > strong {
  font-weight: bold !important;
}

.navigation {
  background-color: #F7F6EF !important;
}

.bg-dark {
  background-color: #A8BD6D !important;
}

.table-specs thead tr {
  background: none !important;
}

#ft {
  border-top: none !important;
}

.ft-top {
  background-color: #efeddf !important;
}

#main-hd .logo {
  padding: 5px;
}