<template>
    <form method="post" action="#" @submit.prevent="subscribeUser" @keydown="form.onKeydown($event)" class="d-flex round-forms">
        <div class="input-group">
            <input v-model="form.email" class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" type="email" name="email" placeholder="Your email" required>

            <div class="input-group-append inside-input">
                <button :disabled="form.busy" type="submit" class="btn btn-primary">Subscribe <i class="fas fa-paper-plane fa-fw"></i></button>
            </div>
            <has-error :form="form" field="email"></has-error>
        </div>

    </form>
</template>
<script>
    export default {
        data(){
            return {
                // Create a new form instance
                form: new Form({
                    email: ''
                })
            }
        },
        methods: {
            subscribeUser () {
                // Submit the form via a POST request
                this.form.post('/api/subscribe')
                    .then(({ data }) => {
                        if(data) {
                            Toast.fire({
                                type: 'success',
                                title: 'Thank You for subscribing!'
                            });

                            this.form.reset();
                        }
                    });
            }
        },
        mounted() {
            //console.log('Component mounted.')
        }
    }
</script>