<template>
    <form action="#" @submit.prevent="submitInquiry" @keydown="form.onKeydown($event)">
        <div class="form-group">
            <label for="txtName">Name</label> <span data-toggle="tooltip" data-placement="top" title="required field">*</span>
            <input v-model="form.name" type="text" name="name" id="txtName" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" placeholder="Your name">
            <has-error :form="form" field="name"></has-error>
        </div>
        <div class="form-group">
            <label for="txtEmail">Email</label> <span data-toggle="tooltip" data-placement="top" title="required field">*</span>
            <input v-model="form.email" class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" type="email" name="email" id="txtEmail" placeholder="Your email">
            <has-error :form="form" field="email"></has-error>
        </div>
        <div class="form-group">
            <label for="inputComments">Message/Comments</label> <span data-toggle="tooltip" data-placement="top" title="required field">*</span>
            <textarea v-model="form.input_comments" class="form-control" :class="{ 'is-invalid': form.errors.has('input_comments') }" name="input_comments" id="inputComments" placeholder="Your message/comments..." rows="4"></textarea>
            <has-error :form="form" field="input_comments"></has-error>
        </div>


        <div class="form-group ">

            <button type="submit" class="btn btn-primary">Send message</button>

        </div>

    </form>
</template>

<script>
    export default {
        data () {
            return {
                // Create a new form instance
                form: new Form({
                    name: '',
                    email: '',
                    input_comments: ''
                })
            }
        },
        methods: {
            submitInquiry () {
                // Submit the form via a POST request
                this.form.post('/api/contact-us')
                    .then(({ data }) => {
                        if(data) {
                            Toast.fire({
                                type: 'success',
                                title: 'Your Message/Comment has been sent! Thank you!'
                            });
                            this.form.reset();
                        }
                    });
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>