<template>
    <section class="regular-spacing-section">
        <h2 class="section-head text-center">Outings Inquiry</h2>
        <div class="col-sm-10 col-md-6 mx-auto">
            <form action="#" @submit.prevent="submitInquiry" @keydown="form.onKeydown($event)">
                <div class="form-group">
                    <label for="txtName">Name</label> <span data-toggle="tooltip" data-placement="top" title="required field">*</span>
                    <input v-model="form.name" type="text" name="name" id="txtName" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" placeholder="Your name">
                    <has-error :form="form" field="name"></has-error>
                </div>
                <div class="form-group">
                    <label for="txtEmail">Email</label> <span data-toggle="tooltip" data-placement="top" title="required field">*</span>
                    <input v-model="form.email" class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" type="email" name="email" id="txtEmail" placeholder="Your email">
                    <has-error :form="form" field="email"></has-error>
                </div>
                <div class="form-group">
                    <label for="txtPhone">Phone</label>
                    <input class="form-control" type="tel" name="phone" id="txtPhone" placeholder="Your phone number">
                    <has-error :form="form" field="phone"></has-error>
                </div>

                <div class="form-group">
                    <label for="eventDetails">Event Details</label> <span data-toggle="tooltip" data-placement="top" title="required field">*</span>
                    <textarea v-model="form.event_details" class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" name="event_details" id="eventDetails" placeholder="Date, time, and other details..." rows="4"></textarea>
                    <has-error :form="form" field="event_details"></has-error>
                </div>

                <div class="form-group text-center mt-4">
                    <button :disabled="form.busy" type="submit" class="btn btn-primary btn-lg ml-3">Submit</button>
                </div>
            </form>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                // Create a new form instance
                form: new Form({
                    name: '',
                    email: '',
                    phone: '',
                    event_details: ''
                })
            }
        },
        methods: {
            submitInquiry () {
                // Submit the form via a POST request
                this.form.post('/api/outings-inquiry')
                    .then(({ data }) => {
                        if(data) {
                            Toast.fire({
                                type: 'success',
                                title: 'Thank You for Inquiry! We will be in touch with you shortly.'
                            });
                            this.form.reset();
                        }
                    });
            }
        },
        mounted() {
            //console.log('Component mounted.')
        }
    }
</script>