/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-american-express {
  background-image: url(sprite-img.png);
  background-position: 0px 0px;
  width: 55px;
  height: 30px;
}
.icon-bitcoin {
  background-image: url(sprite-img.png);
  background-position: -55px 0px;
  width: 55px;
  height: 30px;
}
.icon-google-wallet {
  background-image: url(sprite-img.png);
  background-position: 0px -30px;
  width: 55px;
  height: 30px;
}
.icon-ideal {
  background-image: url(sprite-img.png);
  background-position: -55px -30px;
  width: 55px;
  height: 30px;
}
.icon-maestro {
  background-image: url(sprite-img.png);
  background-position: 0px -60px;
  width: 55px;
  height: 30px;
}
.icon-master-card {
  background-image: url(sprite-img.png);
  background-position: -55px -60px;
  width: 55px;
  height: 30px;
}
.icon-paypal {
  background-image: url(sprite-img.png);
  background-position: -110px 0px;
  width: 55px;
  height: 30px;
}
.icon-skrill {
  background-image: url(sprite-img.png);
  background-position: -110px -30px;
  width: 55px;
  height: 30px;
}
.icon-visa-electron {
  background-image: url(sprite-img.png);
  background-position: -110px -60px;
  width: 55px;
  height: 30px;
}
.icon-visa {
  background-image: url(sprite-img.png);
  background-position: 0px -90px;
  width: 55px;
  height: 30px;
}
