<template>
    <section class="regular-spacing-section">
        <div class="container">
            <h2 class="section-head text-center" v-if="events.length">Events</h2>
            <div class="row">
                <!-- blog1 -->
                <div class="col-12 col-sm-6 col-md-4 regular-spacing-section" v-for="event in events" v-bind:key="event.id">
                    <div class="post-item">
                        <div class="post-image">
                            <img class="img-fluid clip lazy" :data-src="event.picture" :src="event.picture" alt="Card image">
                        </div>
                        <div class="post-description">
                            <div class="row">
                                <div class="post-meta text-center">
                                    <span class="post-day">{{ event.day }}</span>
                                    <span class="post-month">{{ event.month }}</span>
                                </div>
                                <h4 class="post-title">{{ event.title }}</h4>
                                <p class="post-excerpt">{{ event.short_description }}</p>
                                <div class="button-group">
                                    <a :href="event.document" class="btn btn-primary" target="_blank">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /blog1 -->
            </div>
            <!-- pagination -->
            <nav v-if="pagination.last_page !== 1">
                <ul class="pagination justify-content-center">
                    <li class="page-item" v-bind:class="[{ disabled: !pagination.prev_page_link }]"><a class="page-link" @click="fetchEvents(pagination.prev_page_link)">&laquo;</a></li>
                    <li class="page-item" v-for="n in pagination.last_page" v-bind:key="n" v-bind:class="{ active: pagination.current_page === n }"><a class="page-link" @click="fetchEvents(pagination.path_page + n)">{{ n }}</a></li>
                    <li class="page-item" v-bind:class="[{ disabled: !pagination.next_page_link }]"><a class="page-link" @click="fetchEvents(pagination.next_page_link)">&raquo;</a></li>
                </ul>
            </nav>
            <!-- /pagination -->
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                events: [],
                event: {
                    id: '',
                    title: '',
                    subtitle: '',
                    short_description: '',
                    day: '',
                    month: '',
                    picture: '',
                    document: ''
                },
                pagination: {}
            }
        },
        created(){
            this.fetchEvents();
        },
        methods: {
            fetchEvents(page_url){
                let vm = this;
                page_url = page_url || 'api/events';
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        //console.log(res.data)
                        this.events = res.data;
                        vm.makePagination(res.meta, res.links);
                    }).catch(error => console.log(error));
            },
            makePagination(meta, links) {
                this.pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    from_page: meta.from,
                    to_page: meta.to,
                    total_page: meta.total,
                    path_page: meta.path + "?page=",

                    first_page_link: links.first,
                    last_page_link: links.last,
                    next_page_link: links.next,
                    prev_page_link: links.prev
                };
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>