	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.lazyload.min.js"></script>
	<script>
		$('.lazy').lazyload();
		// style invalid form fields
		$('.is-invalid').wrap( '<div class="invalid-icon"></div>' );
		$(".carousel.lazy").on("slide", function(ev) {
		    var lazy;
		    lazy = $(ev.relatedTarget).find("img[data-original]");
		    lazy.attr("src", lazy.data('src'));
		    lazy.removeAttr("data-original");
		  });
	</script>

