<footer id="ft">
		<div class="ft-top py-4">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 mt-2">

						<div class="lead-adquisition mr-3">
							<h3 class="widget-title-l1">Sign Up for Newsletters</h3>
							<p>Get E-mail updates about our latest shop and special offers</p>
							<form class="d-flex round-forms">
								<div class="input-group">
				          		<input class="form-control" type="text" placeholder="Your email">

					        		<div class="input-group-append inside-input">
									    <button class="btn btn-primary" type="button">Send</button>
									  </div>
								</div>

				        	</form>

			        	</div>

					</div>
					<div class="col-sm-6 mt-2">

						<h3 class="text-center widget-title-l1">I trust in holeinone</h3>
						<div class="testimonial-area media">
                            <img data-original="assets/testimonial-male.png" alt="testimonial" class="mx-3 rounded-circle lazy">
                            <div class="media-body">
	                            <blockquote class="testimonials-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere mattis ligula id consectetur. </p>
	                            </blockquote>
	                            <span class="testimonials-author">William</span>
                        	</div>
                        </div>

					</div>
				</div>
			</div>
		</div>
		<div class="ft-widgets-container py-5">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="row align-items-center">
							<div class="col-5">
								<div class="logo mr-2">
									<svg class="icon"><use xlink:href="#icon_hio-logo"></use></svg>
								</div>
							</div>
							<div class="col-7">
								<ul class="list-unstyled address-list">
									<li><svg class="icon small"><use xlink:href="#icon_location"></use></svg> 1234 Heaven Stress, Beverly Hill, Melbourne, USA.</li>
									<li><svg class="icon small"><use xlink:href="#icon_email"></use></svg> contact@example.com</li>
									<li><svg class="icon small"><use xlink:href="#icon_tel"></use></svg> (800) 123 456 789</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="row">
							<div class="col-6 col-sm-4 ft-widget">
								<h4 class="widget-title-l2">Shop</h4>
								<ul class="list-unstyled">
						            <li><a href="#">About us</a></li>
						            <li><a href="#">Jobs</a></li>
						            <li><a href="#">Affiliates</a></li>
						            <li><a href="#">Contact</a></li>
						         </ul>
							</div>
							<div class="col-6 col-sm-4 ft-widget">
								<h4 class="widget-title-l2">Support</h4>
								<ul class="list-unstyled">
						            <li><a href="#">About us</a></li>
						            <li><a href="#">Jobs</a></li>
						            <li><a href="#">Affiliates</a></li>
						            <li><a href="#">Contact</a></li>
						         </ul>
							</div>
							<div class="col-12 col-sm-4 ft-widget">
								<h4 class="widget-title-l2">Follow us</h4>
								<ul class="list-unstyled social-links list-inline">
						            <li class="list-inline-item"><a href="#"><svg class="icon small"><use xlink:href="#icon_facebook"></use></svg></a></li>
						            <li class="list-inline-item"><a href="#"><svg class="icon small"><use xlink:href="#icon_youtube"></use></svg></a></li>
						            <li class="list-inline-item"><a href="#"><svg class="icon small"><use xlink:href="#icon_twitter"></use></svg></a></li>
						            <li class="list-inline-item"><a href="#"><svg class="icon small"><use xlink:href="#icon_instagram"></use></svg></a></li>
						         </ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="bg-light py-2">
			<div class="container">
			<div class="row copy-info">
				<div class="col-4">
					<p>Copyright &copy; AP Design</p>
				</div>
				<div class="col-8">

					<ul class="payment-methods list-unstyled list-inline pull-right text-right">
			          <li class="list-inline-item">
			            <span class="icon-visa"><span class="sr-only">Visa</span></span>
			          </li>
			          <li class="list-inline-item">
			            <span class="icon-master-card"><span class="sr-only">MasterCard</span></span>
			          </li>
			          <li class="list-inline-item">
			            <span class="icon-paypal"><span class="sr-only">PayPal</span></span>
			          </li>
			          <li class="list-inline-item">
			            <span class="icon-american-express"><span class="sr-only">American Express</span></span>
			          </li>
			        </ul>
				</div>

			</div>
			</div>
		</div>
	</footer>
	<link rel="stylesheet" type="text/css" href="css/sprite.css">