<header  id="main-hd">
		<div class="top-bar">
				<div class="container">
					<ul class="list-unstyled list-inline text-right">
						<li class="list-inline-item">Call us: <a href="tel:1-562-867-5309">1-562-867-5309</a></li>
			            <li class="list-inline-item"><a href="#"><svg class="icon small"><use xlink:href="#icon_account"></use></svg>My Account</a></li>

			          </ul>
				</div>
		</div>
		<div class="navigation">
			<div class="container">

				<nav class="navbar navbar-expand-lg navbar-light">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button>
		      <!--<a class="navbar-brand logo" href="/"><img src="assets/logo-hio.svg" alt=""></a>-->
		      <a class="logo" href="/"><svg class="icon small"><use xlink:href="#icon_hio-logo"></use></svg></a>


		      <div class="collapse navbar-collapse" id="main-nav">
		      	<button type="button" class="close d-lg-none" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
			    </button>
		        <ul class="navbar-nav ">
		          <li class="nav-item active dropdown mega-menu">
		            <a class="nav-link  dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages megamenu <span class="sr-only">(current)</span></a>
		            <!-- megamenu -->
		            <div class="dropdown-menu " aria-labelledby="dropdown04">

		            		<div class="row">
		            			<div class="col-lg-3">
									<div class="mega-menu-title">Blog</div>
			            			<ul>
			            				<li class="dropdown-item"><a href="blog-grid.html">Blog grid</a></li>
			            				<li class="dropdown-item"><a href="blog-list.html">Blog list</a></li>
			            				<li class="dropdown-item"><a href="blog-detail.html">Blog detail</a></li>
			            			</ul>
		            			</div>
		            			<div class="col-lg-3">
		            				<div class="mega-menu-title">Shop</div>
			            			<ul>
			            				<li class="dropdown-item"><a href="product-list.html">Product list</a></li>
			            				<li class="dropdown-item"><a href="product-page.html">Product detail</a></li>
			            				<li class="dropdown-item"><a href="cart.html">Shopping cart</a></li>
			            				<li class="dropdown-item"><a href="checkout.html">Checkout</a></li>
			            				<li class="dropdown-item"><a href="order-resume.html">Checkout completed</a></li>
			            			</ul>
		            			</div>
		            			<div  class="col-lg-3">
		            				<div class="mega-menu-title">Other pages</div>
		            				<ul>
		            					<li class="dropdown-item"><a href="about.html">About Us</a></li>
		            					<li class="dropdown-item"><a href="contact.html">Contact Us</a></li>
		            					<li class="dropdown-item"><a href="faq.html">FAQ</a></li>
		            					<li class="dropdown-item"><a href="#" data-toggle="modal" data-target="#loginModal">Login Modal window</a></li>
		            					<li class="dropdown-item"><a href="register.html">Register</a></li>
		            				</ul>

				                </div>
				                <div class="mega-menu-img ml-auto col-md-3 d-none d-lg-block">
				                	<a href="#">
				                		<span class="banner-caption">
				                			<em>100 cheap balls</em>
											<span class="btn btn-primary">Shop now</span>
				                		</span>

				                		<img class="img-fluid lazy" src="assets/post2-img-md.jpg" alt="Card image">
				                	</a>
				                </div>
				            </div>
		            </div>
		            <!-- /megamenu -->
		          </li>
		          <li class="nav-item dropdown">
		            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clothing & Shoes</a>
		             <div class="dropdown-menu " aria-labelledby="dropdown01">

								<a  class="dropdown-item" href="product-list.html">Product list</a>
			              		<a  class="dropdown-item" href="product-page.html">Product detail</a>
			              		<a  class="dropdown-item" href="cart.html">Shopping cart</a>
			              		<a  class="dropdown-item" href="checkout.html">Checkout</a>


		            </div>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="#">Balls & Accesories</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="#">Bags & Equioment</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="#">Blog</a>
		          </li>

		        </ul>

		        <!-- search box & cart -->
		        <div class="nav navbar-nav ml-auto search-box">
		        	<form>

		        		<div class="input-group round-forms">
		          		<input class="form-control" type="text" placeholder="Search">

			        		<div class="input-group-append inside-input">
							    <button class="btn btn-outline-secondary" type="button"><svg class="icon small"><use xlink:href="#icon_search"></use></svg></button>
							  </div>
						</div>
					</form>
		        </div>
		        <!-- /search box & cart -->
		      </div>
		       <!-- search box & cart -->
		        <div class="nav navbar-nav navbar-right">

					<!-- small cart -->
					<div class="cart ml-3">

					    <div class="dropdown">
					        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><svg class="icon "><use xlink:href="#icon_cart"></use></svg> <span class="badge badge-light">3</span></a>
					        <ul class="dropdown-menu dropdown-cart dropdown-menu-right" role="menu">
					            <li class="d-flex">
					            	<div class="cart-img">
					            		<img src="assets/prods/product-img-sm.png" class="img-fluid " alt="" />
					            	</div>
					            	<div class="cart-info">
						                    <span class="product-name">Item name</span>
						                	<span class="price-new">23$</span>
					            	</div>
					            	<div class="cart-button">
					            		<button class="btn btn-xs link-style"><svg class="icon small"><use xlink:href="#icon_delete"></use></svg></button>
					            	</div>
					            </li>
					            <li class="d-flex">
					            	<div class="cart-img">
					            		<img src="assets/prods/product2-img-sm.png" class="img-fluid " alt="" />
					            	</div>
					            	<div class="cart-info">
						                    <span class="product-name">Item name</span>
						                	<span class="price-new">23$</span>
					            	</div>
					            	<div class="cart-button">
					            		<button class="btn btn-xs link-style"><svg class="icon small"><use xlink:href="#icon_delete"></use></svg></button>
					            	</div>
					            </li>
					            <li class="d-flex">
					            	<div class="cart-img">
					            		<img src="assets/prods/product3-img-sm.png" class="img-fluid " alt="" />
					            	</div>
					            	<div class="cart-info">
						                    <span class="product-name">Item name</span>
						                	<span class="price-new">23$</span>
					            	</div>
					            	<div class="cart-button">
					            		<button class="btn btn-xs link-style"><svg class="icon small"><use xlink:href="#icon_delete"></use></svg></button>
					            	</div>
					            </li>
					            <li><a class="btn btn-block btn-primary text-center p-1" href="#" >View Cart</a></li>
					        </ul>
					    </div>
					</div>
		        	<!-- small cart -->
		        </div>
		        <!-- /search box & cart -->
		    </nav>
	    	</div>
	</div>
	<!-- nav -->
</header>