<div class="modal fade " id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">

        <!-- content -->
        <div class="container-fluid">
		    <div class="row">
		      <div class="col-md-8 ml-auto">
		      	<form class="col-md-11 mx-auto">
		      		<div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLabel">Login</h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>

		      		<div class="form-group">
						<label for="txtEmail">Email</label>
						<input type="email" id="txtEmail"  class="form-control ">
					</div>
					<div class="form-group">
						<label for="txtPass">Password</label>
						<input type="password" id="txtPass"  class="form-control ">
					</div>
					<div class="form-check  custom-inputs-check">
					    <input type="checkbox" class="form-check-input" id="exampleCheck1">
					    <label class="form-check-label" for="exampleCheck1">Show password </label>
					  </div>
					<div class="form-group text-right mt-4">
						<a href="#">Forget Password?</a>
						<button class="btn btn-primary ml-3">Login</button>
					</div>
		      	</form>
		      	<div class="modal-footer mt-4 text-right">
		      		Don't have an account? <a href="#"><strong>Register now</strong></a>
		      	</div>
		      </div>
		    </div>
		  </div>
		  <!-- /content -->
      </div>

    </div>
  </div>
</div>