<div class="modal fade" id="writeReview" tabindex="-1" role="dialog" aria-labelledby="Write a review" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-icons">
                <svg class="icon big">
                    <use xlink:href="#icon_comment"></use>
                </svg>
                <h5 class="modal-title" id="exampleModalLongTitle">Write an opinion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="write-Review">
                    <div>
                        <div class="form-group">
                            <label for="txtName">Name</label>
                            <input type="text" class="form-control" id="txtName" placeholder="Enter Name" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="txtEmail">Email Address</label>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Enter Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Rating</label>
                        <div class="rating-review ratings flex-row-reverse">
                            <input type="radio" name="star" id="five">
                            <label for="five">
                                <svg class="icon rating-icon">
                                    <use xlink:href="#icon_star-fill" />
                                </svg>
                            </label>
                            <input type="radio" name="star" id="four">
                            <label for="four">
                                <svg class="icon rating-icon">
                                    <use xlink:href="#icon_star-fill" />
                                </svg>
                            </label>
                            <input type="radio" name="star" id="three">
                            <label for="three">
                                <svg class="icon rating-icon">
                                    <use xlink:href="#icon_star-fill" />
                                </svg>
                            </label>
                            <input type="radio" name="star" id="two">
                            <label for="two">
                                <svg class="icon rating-icon">
                                    <use xlink:href="#icon_star-fill" />
                                </svg>
                            </label>
                            <input type="radio" name="star" id="one">
                            <label for="one">
                                <svg class="icon rating-icon">
                                    <use xlink:href="#icon_star-fill" />
                                </svg>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtReview">Your Review</label>
                        <textarea class="form-control" id="txtReview" rows="4" placeholder="Your Review Here"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Submit Review</button>
            </div>
        </div>
    </div>
</div>