//Theme Colors
$color1: #b9a896; //Upper line on MV
$color2: #c1c38c; //Lower line with phone number and for the table + footer
$color3: #a8bd6d; //Homepage buttons

// Body
$body-bg: #f8fafc;
$header-bg: #EEEFD7;
// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// HIO Vars
$link-color:#9eac01;
$light-color: #f7f6ef;
$dark-color:#25254c;
$main-color:#5d5d5d;
$alt-bg-color: #eeefd7;//#fec500;
$negative-color:#fff;
$discount-color:#991d00;

// Logo colors
$dark-green-color:#035735;
$dark-red-color: #009966;//#902E1E;
//fonts
$alt-font: 'Roboto Condensed', sans-serif;

$separation: 1.5rem;

//social colors
$fb-bg:#4c65a3 ;
$yt-bg:#f2141c;
$tw-bg:#54b1da;
$it-bg:#d03577;
$gg-bg:#5185f3;
$in-bg:#0077b5;
