@import "nouislider";

.form-control, .custom-select {
	border: 1px solid rgba($dark-color,0.5);
	border-radius: 1.2rem;
	background-color: rgba($negative-color,0.4);
	font-size: inherit;
  &.is-invalid {
    &:after {
      content:"!";
      width:16px;
      height: 16px;
      text-align: center;
      background-color: $discount-color;
      color: $negative-color;
      display: inline-block;
      position: absolute;

    }
  }

}
.form-control + .input-group-append {
  border: 1px solid rgba($dark-color,0.5);
  border-radius: 1.2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  background-color: rgba($negative-color,0.4);
  .btn {
    border: 0;
    }
}

.search-box {
  .form-control {
    border-right: 0;
  }
  .btn {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: transparent;
    &:hover {
      color:$dark-color;
    }
  }
}


label {
  font-weight: 700;
  &.form-check-label {
    font-weight: 400;
  }
}
.form-check-inline {
  &.custom-inputs-radio {
    padding-left: 1rem;
    margin-right: $separation;
    }
}
.round-forms {
	.btn {
		border-top-right-radius: 1.2rem;
		border-bottom-right-radius: 1.2rem;

	}
}

.invalid-icon {
  position: relative;
  &:after {
    content:"!";
    position: absolute;
    right: 0;
    top: -8px;
    z-index: 9;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-color: $discount-color;
    border-radius: 50%;
    text-align: center;
    color: $negative-color;
    font-weight: 700;

  }
}
.option-list {
	li {
		margin-bottom: $separation*.4;
	}
}
.custom-inputs-check {
	label {
		padding-left: 0.5rem;
	}
	label::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      margin-top: 2px;
      border: 2px solid #ccc;
      border-radius: 2px;
      }


      input[type="checkbox"] {
    		opacity: 0;
    		display: none;
    	}

      input[type="checkbox"]:checked + label::before {

  		background-color: $link-color;
  	 border: 2px solid $link-color;
  	 background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
      }

     input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
       input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }



}

 //radio

 .custom-inputs-radio {
	label {
		padding-left: 0.5rem;
	}
	label::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      margin-top: 2px;
      border: 2px solid #cccccc;
      border-radius: 50%;
      }


      input[type="radio"] {
    		opacity: 0;
    		display: none;
    	}

      input[type="radio"]:checked + label::before {

  		background-color: $link-color;
  	 	border: 2px solid $link-color;
  	 	box-shadow:  inset 0px 0px 1px 2px #fff;

      }

     input[type="radio"]:disabled + label {
    	  opacity: 0.65;
  		}
       input[type="radio"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }



}

// card validation
.ccFormatMonitor {
    /*&[class^="cc_type"]{
       padding-left: 60px;
       background-image: url(../assets/../assets/sprite-img.png);
       background-repeat: no-repeat;
    }*/
    &.cc_type_vs {
       background-position: 0px -90px;
       padding-left: 60px;
       background-image: url(../assets/sprite-img.png);
       background-repeat: no-repeat;
    }
    &.cc_type_jc {

    }
    &.cc_type_dc{

    }
    &.cc_type_mc {
        background-position: -55px -60px;
    }
    &.cc_type_ax{
       background-position: 0px 0px;
    }
}



.units-input {
  text-align: center;
  border: 0;
}

//rating
.rating-icon {
  fill-opacity:0;
  stroke: #f8c51b;
  stroke-width: 2px;
}
input[name="star"] {
  display: inline-block;
  width: 0;
  opacity: 0;
  margin-left: -2px;
}
      label:hover ~ label .rating-icon,
svg.rating-icon:hover,
input[name="star"]:focus ~ label .rating-icon,
input[name="star"]:checked ~ label .rating-icon {
  fill-opacity:1;
  color: #f8c51b;
}

input[name="star"]:checked + label .rating-icon {

  color: #f8c51b;
}

input[name="star"]:checked + label {
  animation: scaleup 1s;

}

@keyframes scaleup {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}


//Input units
.quantity {
  color: $link-color;
  span {
    display: block;
    @include media-breakpoint-down(xs) {
          display: inline-block;

      }
  }
  .icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
  }

  .units-input {
    background-color: transparent;
    text-align: center;
  }
}
.qty-minus .icon{
    transform: rotate(180deg);
}