.modal-header {
	background-color: $link-color;
	color: $negative-color;
	border-radius: 0;
	&.modal-header-icons {
		flex-direction: column;
		align-items: center;
		align-content: center;
		.modal-title {
			font-size: 1.5rem;
			font-weight: 300;
		}
		.close {
			position: absolute;
			right: 0.5rem;
			top: 0.5rem;
		}

	}
}

.modal-body {
	.modal-header {
		background-color: transparent;
		color: $link-color;
		border: 0;
		margin-bottom: $separation;
		padding-left: 0;
		padding-right: 0;
	}
}
.modal-title {
	font-family: $alt-font;
	//text-align: center;
}
.modal-content {
	border-radius: 0;
	.ratings {
		justify-content: flex-end;
	}
	.close {
		position: absolute;
		right: -30px;
		top: -1rem;
		background-color: $link-color;
		color: $negative-color;
		border-radius: 50%;
		opacity: 1;
		padding: 0;
		width: 30px;
		height: 30px;
		line-height:30px;
		box-shadow: 0 1px 2px 1px rgba($main-color,0.25);
		&:hover {
			background-color: $dark-color;
		}
		span {
			display: block;
			line-height: 1;
			height: 30px;
		}

	}
}
.modal-footer {
	justify-content: center;
}

#loginModal {
	.modal-body {
		background: url(../assets/login-bgr.png) no-repeat left bottom;
		background-size: contain;
	}
}