
.meta-item {
			&:after {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 5px;
				height: 5px;
				margin:0 $separation*0.2;
				border-radius: 50%;
				background-color:  rgba($main-color, 0.25);
				transform: translateY(1px);
			}
			&:last-child {
				&:after {
					display:none;
				}
			}
		}
.widget-body {
	.post-info {
		margin-bottom:  $separation*0.5;
		h4 {
			font-size: 1rem;
			margin-bottom: 0;
		}
		span {
			color: rgba($main-color, 0.75);
			font-size: 0.8125rem;
			vertical-align: middle;
		}


	}
	.post-img {
		margin-right: $separation*0.5;
		min-width: 64px;
	}
	.list-group-item {
			border: 0;
			padding-left: 0;
			padding-right: 0;
		}
	.badge {
		border-radius: 50%;
		text-align: center;
		width: 1.25rem;
		height: 1.25rem;
		line-height: 2;
		vertical-align: middle;
		padding: 0;
		font-weight: 300;
	}
}
.post-item {
	background-color:$negative-color;
	.post-title {
		color: $dark-color;
		font-family: $alt-font;
		font-weight: 700;
		font-size: 1rem;
		padding-top: $separation*0.5;

	}
	.post-description {
		margin:0 $separation;
		position: relative;
	}
	.post-meta {
		background-color:$link-color;
		border-radius: 50%;
		color: $negative-color;
		font-family: $alt-font;
		font-weight: 300;
		line-height: 1;
		width: 50px;
		height: 50px;
		position: absolute;
		top:-70px;
		border: 2px solid $negative-color;
		display: flex;
		flex-direction: column;
		justify-content: center;


		span {
			display: block;
			text-transform: uppercase;
		}
		.post-day {
			font-size: 1.25rem;
		}
		.post-month {
			font-size: 0.75rem;
		}

	}
	.button-group {
		margin-bottom: $separation*0.5;
	}
	&.post-inline {
		align-items:  center;
		img {
			&.clip {
				//clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 80%);
				clip-path: polygon(0 0, 80% 0%, 95% 100%, 0% 100%);
				padding-bottom: 0;
			}
		}
		.post-description {
			margin:0;
			padding: 0 $separation;

		}
		.post-meta {
			top: $separation*0.5;
			left: -$separation*2;

		}
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			img {
			&.clip {
				clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 80%);
				}
			}
			.post-meta {
				top: -70px;
				left: 0;

			}

		}
	}
}
.post-header {
	margin-top: $separation;
	margin-bottom: $separation*1.5;
	h1 {
		color: $link-color;
	}
}
.post-body {
	border-bottom: 1px solid $main-color;
	margin-bottom: $separation*1.5;
	p, h2 {
		margin: $separation 10% $separation auto;
		width: 75%;
		@include media-breakpoint-down(md) {
			width: auto;
			margin-right:  0;
		}
	}
	h2 {
		margin-top: $separation *1.5;
	}
	blockquote  {
		position: relative;
		&:before {
			content:'"';
			position: absolute;
			left: -1rem;
			top: -1rem;
			font-size:44px;
			opacity: 0.3;
			z-index: 2;
			//font-family: "Times New Roman";

		}
		p {
			font-style: italic;
			font-weight: 600;
			font-size: 1.25rem;
			width: auto;
			margin-right:  0;
		}
	}
}
.testimonial-area {
	.date {
		color: rgba($main-color, 0.75);
		font-size: 0.8125rem;
		margin-left: $separation*0.5;
	}
}
#user-comments {
	.testimonial-area {
		margin-bottom: $separation;
	}

}
.post-comments  {
	h3 {
		color: $dark-color;
		margin-top: $separation;
		margin-bottom: $separation*0.75;
	}

}

