
.dots-icon:after {
  content: '\2807';
  font-size: 1.2rem;
  padding-left: $separation*0.5;
  }

 #filters-side {
		@include media-breakpoint-down(md) {
			//display: none;
		}
  }
.ratings {
		//color:;
		display: flex;
		justify-content: center;
		small {
			margin-left: $separation*0.3;
		}
		svg {
			color:$alt-bg-color;
			fill: currentColor;

		}
		.icon {
			margin-right: 0;
			&.small {
			width: 18px !important;
			height: 18px !important;
			}
		}
		.testimonials-author {
			margin-left: $separation*0.5;
			margin-top: -2px;
		}
	}

.testimonials-text	 {
	+ .ratings {
		justify-content: flex-start;
	}
}
.product-item {
	background-color:$negative-color;
	border-radius: 2px;
	font-family: $alt-font;
	margin:$separation*0.25 0 $separation;
	padding: 0.25rem 0.5rem;
	text-align: center;

	.product-description {
		margin:$separation*0.5;
	}
	.product-name {
		margin-bottom: $separation*0.5;
	}
	.ratings {
		margin:$separation*0.25 0;
	}

}
	.product-price {
		margin:$separation*0.5 0 $separation*0.75;
		span {
			display: inline-block;
			margin:0 $separation*0.2;
			padding: 0 0.2em;
		}
		.price-new {
			color: $discount-color;
			font-size: 1rem;
		}
		.price-old {
			font-weight: 300;
			color: rgba($main-color, 0.8);
			position: relative;
			del {
				&:after {
					content:"";
					position:absolute;
					left: 0;
					right: 0;
					top: 50%;
					background-color:$discount-color;
					border-radius: 2px;
					height: 2px;
				}
			}
			//text-decoration: line-through;

		}
	}
.related-prods {
	.product-item {
		margin-bottom:$separation*0.25;
	}

	.d-flex {
 	align-items:center;
 	align-content: center;
 	.product-description {
 		text-align: left;
 		}
 	}
 	&.related-block {
		.d-flex {
			flex-direction: column;
			justify-content: center;
			text-align: center;
			.product-description {
		 		text-align: center;
		 		}
		}
	}
}

.label {
	font-family: $alt-font;
	font-weight: 700;
	display: inline-block;
	margin-bottom: $separation*0.5;
	text-transform: uppercase;
	span {
		border-radius: 1rem;
		padding: 0.3rem 1rem;
		&.label-new {
			background-color:$discount-color;
			color: $negative-color;

		}
	}
}

.product-essentials {
	background-color: $light-color;
	padding-bottom: $separation*0.5;
	.product-price {
		@include media-breakpoint-down(xs) {
	  			text-align: center;

			}
	}
	.price-old {
		font-size: 1.2rem;
	}
	.price-new {

			font-size: 1.75rem;
		}
	.units-input {
		font-size: 1rem;
	}
	.quantity {
		span {
			display: inline-block;
		}
	}
	.product-config {
		border-top: 1px solid rgba($main-color,0.4);
		border-bottom: 1px solid rgba($main-color,0.4);
		margin: $separation*0.5 0;
		padding: $separation*0.5 0;

	}
}
.product-name {
	h1 {
		color: $link-color;
		font-weight: 700;
		font-size: 2.25rem;
	}
	span {
			display: inline-block;
			font-size:0.8125rem;
			//border-right: 1px solid rgba($main-color,0.4);
			&:after {
				content:"|";
				display: inline-block;

				margin-left: 0.5rem;
				opacity: 0.4;
				line-height: 1.25rem;
				//vertical-align: middle;
				font-size: 1.25rem;



			}
			//margin-right: 0.25rem;
			padding: 0.25rem 0.5rem;
			&:first-of-type {
				padding-left:0;
			}

		}
}
.toc {
	background-color: $negative-color;
	font-family: $alt-font;
	font-weight: bold;
	text-transform: uppercase;
}
.text-block {
	.media {

		h5 {
			font-family: $alt-font;
		}
	}
	.media-body {
		margin-left: $separation;
	}
	&:before {
		content:"";
		display: block;
		width: 90%;
		margin: $separation*0.5 auto $separation;
		height: 1px;
		background-color: $main-color;
		opacity: 0.4;
	}
}
#full-product {
	.regular-spacing-section {
		padding-bottom: $separation;
	}
}
.zoom-zone {
	background: url(../assets/product-circle.png) no-repeat center center;
	background-size: contain;
	text-align: center;
	position: relative;

	.product-thumbs {
		position: absolute;
		right: 0;
		width: 70px;
		bottom: $separation*0.5;
		z-index: 2;
		@include media-breakpoint-down(xs) {
	  			width: auto;
	  			position: static;

			}

		a {
			display: inline-block;
			width: 64px;
			height: 64px;
			border-radius: 50%;
			margin-bottom: 0.5rem;
			overflow: hidden;

		}
		img {

			max-width: 100%;

			display: block;

		}
		.xactive {
			border:2px solid $link-color;
			background-color: $light-color;
		}
	}
}

#customer-reviews {
	.testimonial-area {
		margin: $separation 0 $separation*1.5;
	}
}
.review-average {
	div {
		margin: $separation*0.25 0;
	}
	.botonera {
		margin-top: $separation;
	}
}
.rating-summary {
	font-family: $alt-font;
	font-size: 2.5rem;
	font-weight: 300;
}

