// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$american-express-name: 'american-express';
$american-express-x: 0px;
$american-express-y: 0px;
$american-express-offset-x: 0px;
$american-express-offset-y: 0px;
$american-express-width: 55px;
$american-express-height: 30px;
$american-express-total-width: 165px;
$american-express-total-height: 120px;
$american-express-image: 'sprite-img.png';
$american-express: (0px, 0px, 0px, 0px, 55px, 30px, 165px, 120px, 'sprite-img.png', 'american-express', );
$bitcoin-name: 'bitcoin';
$bitcoin-x: 55px;
$bitcoin-y: 0px;
$bitcoin-offset-x: -55px;
$bitcoin-offset-y: 0px;
$bitcoin-width: 55px;
$bitcoin-height: 30px;
$bitcoin-total-width: 165px;
$bitcoin-total-height: 120px;
$bitcoin-image: 'sprite-img.png';
$bitcoin: (55px, 0px, -55px, 0px, 55px, 30px, 165px, 120px, 'sprite-img.png', 'bitcoin', );
$google-wallet-name: 'google-wallet';
$google-wallet-x: 0px;
$google-wallet-y: 30px;
$google-wallet-offset-x: 0px;
$google-wallet-offset-y: -30px;
$google-wallet-width: 55px;
$google-wallet-height: 30px;
$google-wallet-total-width: 165px;
$google-wallet-total-height: 120px;
$google-wallet-image: 'sprite-img.png';
$google-wallet: (0px, 30px, 0px, -30px, 55px, 30px, 165px, 120px, 'sprite-img.png', 'google-wallet', );
$ideal-name: 'ideal';
$ideal-x: 55px;
$ideal-y: 30px;
$ideal-offset-x: -55px;
$ideal-offset-y: -30px;
$ideal-width: 55px;
$ideal-height: 30px;
$ideal-total-width: 165px;
$ideal-total-height: 120px;
$ideal-image: 'sprite-img.png';
$ideal: (55px, 30px, -55px, -30px, 55px, 30px, 165px, 120px, 'sprite-img.png', 'ideal', );
$maestro-name: 'maestro';
$maestro-x: 0px;
$maestro-y: 60px;
$maestro-offset-x: 0px;
$maestro-offset-y: -60px;
$maestro-width: 55px;
$maestro-height: 30px;
$maestro-total-width: 165px;
$maestro-total-height: 120px;
$maestro-image: 'sprite-img.png';
$maestro: (0px, 60px, 0px, -60px, 55px, 30px, 165px, 120px, 'sprite-img.png', 'maestro', );
$master-card-name: 'master-card';
$master-card-x: 55px;
$master-card-y: 60px;
$master-card-offset-x: -55px;
$master-card-offset-y: -60px;
$master-card-width: 55px;
$master-card-height: 30px;
$master-card-total-width: 165px;
$master-card-total-height: 120px;
$master-card-image: 'sprite-img.png';
$master-card: (55px, 60px, -55px, -60px, 55px, 30px, 165px, 120px, 'sprite-img.png', 'master-card', );
$paypal-name: 'paypal';
$paypal-x: 110px;
$paypal-y: 0px;
$paypal-offset-x: -110px;
$paypal-offset-y: 0px;
$paypal-width: 55px;
$paypal-height: 30px;
$paypal-total-width: 165px;
$paypal-total-height: 120px;
$paypal-image: 'sprite-img.png';
$paypal: (110px, 0px, -110px, 0px, 55px, 30px, 165px, 120px, 'sprite-img.png', 'paypal', );
$skrill-name: 'skrill';
$skrill-x: 110px;
$skrill-y: 30px;
$skrill-offset-x: -110px;
$skrill-offset-y: -30px;
$skrill-width: 55px;
$skrill-height: 30px;
$skrill-total-width: 165px;
$skrill-total-height: 120px;
$skrill-image: 'sprite-img.png';
$skrill: (110px, 30px, -110px, -30px, 55px, 30px, 165px, 120px, 'sprite-img.png', 'skrill', );
$visa-electron-name: 'visa-electron';
$visa-electron-x: 110px;
$visa-electron-y: 60px;
$visa-electron-offset-x: -110px;
$visa-electron-offset-y: -60px;
$visa-electron-width: 55px;
$visa-electron-height: 30px;
$visa-electron-total-width: 165px;
$visa-electron-total-height: 120px;
$visa-electron-image: 'sprite-img.png';
$visa-electron: (110px, 60px, -110px, -60px, 55px, 30px, 165px, 120px, 'sprite-img.png', 'visa-electron', );
$visa-name: 'visa';
$visa-x: 0px;
$visa-y: 90px;
$visa-offset-x: 0px;
$visa-offset-y: -90px;
$visa-width: 55px;
$visa-height: 30px;
$visa-total-width: 165px;
$visa-total-height: 120px;
$visa-image: 'sprite-img.png';
$visa: (0px, 90px, 0px, -90px, 55px, 30px, 165px, 120px, 'sprite-img.png', 'visa', );
$spritesheet-width: 165px;
$spritesheet-height: 120px;
$spritesheet-image: 'sprite-img.png';
$spritesheet-sprites: ($american-express, $bitcoin, $google-wallet, $ideal, $maestro, $master-card, $paypal, $skrill, $visa-electron, $visa, );
$spritesheet: (165px, 120px, 'sprite-img.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}


.icon-visa {
  @include sprite(visa);
 }