table {
	font-family: $alt-font;
	th[class^="col"] {
		display: table-cell;
		width: auto;
	}
}
#cart-table {

	table {
		border-radius:3px;
	}
	thead {
		th {
			border: 0;
			text-transform: uppercase;

		}
		@include media-breakpoint-down(sm) {
  			display: none;
		}
	}
	td {
		border: 0;
		vertical-align: middle;
		@include media-breakpoint-down(xs) {
	  			display: block;
	  			text-align: center;
			}

	}
		.product-img {
		width: 20%;
		max-width: 175px;
		@include media-breakpoint-down(sm) {
	  			max-width: 100%;
	  			width: auto;
			}
	}

	.item {
		background-color: $negative-color;

	}
	.empty {
		td {
			height: $separation*0.5;
			padding: 0.25rem;
		}
	}
	.product-price {
		@include media-breakpoint-down(sm) {
  			display: none;
		}

		&:last-child {
			font-size: 1rem;
			font-weight: 400;
			@include media-breakpoint-down(sm) {
	  			display: table-cell;
			}
			@include media-breakpoint-down(xs) {
	  			display: block;
	  			text-align: center;
			}

		}
	}

	.product-name {

		a {
			display: block;
			font-weight: bold;

			margin-bottom: $separation*0.25;
		}
		.botonera {
			a {

				display: inline-block;

				font-size:0.75rem;
				margin-right: $separation*.5;

			}
			.icon {
				vertical-align: middle;
				margin-left: 0.2rem;
			}
			margin-top: $separation;
			font-weight: 400;
			//opacity: 0;
		}

	}
}

#cart-taxes {
	tr {
		td:last-child {
			text-align:right;
			font-size: 1rem;
		}
		&.total-price {
				color: $link-color;
				font-weight: 700;
				td, th {
					font-size: 2em;
				}
			}
	}
	.botonera {
		.btn {
			margin-left: 1rem
		}
	}

}

.sidebar {
	td,th {
		border-top: 0;
	}
}



.table-specs {
	.table {
		margin-bottom: 0;
	}
	thead {
		tr {
			background:url(../assets/bgr-table-hd.png) no-repeat left top;
		}
	}
		&:after {
			content:"";
			display: block;
			width: 100%;
			height:20px;
			background:url(../assets/bgr-table-ft.png) no-repeat right top;
			margin-bottom: $separation;
		}

}
