@import "../bootstrap/scss/bootstrap";
@import "hio-vars";
@import "forms";
@import "modals";

body {

	color: $main-color;
	font-size:0.875rem;
}
a, .dropdown-item {
	color: $dark-color;
	letter-spacing:0.4px ;
	&:hover {
		color:$dark-color;
	}
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4, .h5 {
	font-family: $alt-font;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: $dark-color;
	border-radius: 0
}

.badge-primary {
	background-color: $link-color;
	color: $negative-color;
}
.bg-dark {
	background-color:$color2 !important;
	color: $negative-color;
}
.bg-light {
	background-color:$light-color !important;
}
.bg-white {
	background-color: $negative-color;
}

.row {
	margin-right: 0;
	margin-left: 0;
}
.small-gutters {
	> [class*="col-"] {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}
.card {
	border: 1px solid rgba($negative-color,0.1);
	border-radius: 0;
}
.card-img {
	border-radius: 0;
}

.widget-title-l1 {
	font-size: 1.5rem;
	font-family:$alt-font;
	//font-weight: 700;
}
.widget-title-l2 {
	font-size: 1rem;
	font-family:$alt-font;
	font-weight: 700;
}



.regular-spacing-section {
	margin-bottom: $separation;
}

.section-head {
	color:$dark-color;
	font-size: 1.75rem;
	font-family: $alt-font;
	font-weight: 700;
	margin: $separation*2 auto $separation;
}

.btn-primary {
	background-color:$link-color;
	color: $negative-color;
	border:0;
	//border-radius: 1em;
	//border-radius: 0;
	//font-size: 0.875rem;
	padding-right:$separation;
	padding-left:$separation;
	&:hover {
		background-color:$dark-color;
	}

}
.btn {
	font-family: $alt-font;
	border-radius: 1.2rem;
	&.link-style {
		padding: 0;
		background-color: transparent;
	}
	&.btn-sm {
		padding-right:$separation*0.5;
		padding-left:$separation*0.5;
	}
	&.btn-lg {
		border-radius: 1.5rem;
	}
}

.social-login {
	.btn {
		color: $negative-color;
		padding-right: $separation;

	}
}
.btn {
	&-facebook {

		background-color: $fb-bg;
	}
	&-google {

		background-color: $gg-bg;
	}
	&-twitter {

		background-color: $tw-bg;
	}
}

.icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	margin-right: 0.5rem;
	transform: translateY(-2px);
	vertical-align: middle;

	fill: currentColor;
	&.small {
		width: 24px;
		height: 24px;
	}
	&.big {
		width: 64px;
		height: 64px;
	}
}
.overlay-header {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 99;
}
#main-hd {
	border-bottom: 1px solid rgba($dark-color,0.5);
	box-shadow: 1px 2px 2px rgba($dark-color,0.2);
	.logo {
		height: 64px;
		> img {
			height: 100%;
		}
		.icon {
			height: 80px;
			width: 80px;
			transform: translateY(-8px); /* (icon height-logo height)/2 */
		}
	}
	@include media-breakpoint-down(md) {
		.navbar {
			padding: 0
		}
	}
}
.top-bar {
	background-color: $color1;//$dark-color;
	color:$negative-color;
	font-size:0.8125rem;
	font-family:$alt-font;
	padding:0.1rem 1rem 0;
	ul {
		margin: 0 0 0 auto;
	}
	.list-inline-item {
		margin:0 0 0 1rem;
	}
	a {
		color: $negative-color;
		font-weight: 700;
		text-transform: uppercase;
	}

}

.navigation {
	background-color: rgba($link-color,0.1);
}
.navbar-toggler  {
	border:0;
}
#main-nav {
	font-family:$alt-font;
	font-size: 0.875rem;
	@include media-breakpoint-down(md) {

		background-color: $negative-color;
		border-right: 1px solid $dark-color;
		box-shadow: 0 1px 1px 2px rgba($dark-color,0.25);
		position: fixed;
		left: 0;
		width: 16rem;
		top: 0;
		bottom: 0;
		overflow-y: auto;
		z-index: 1030;
		form {
			margin: $separation*0.5;
		}
		.form-control {
			//width: 100%
		}
		.close {
			margin-right: $separation*0.5;
			margin-top: $separation*0.25;
			width: 1rem;

		}
	}
	.navbar-nav  {
		margin-left: 2rem;
		@include media-breakpoint-down(md) {
			margin-top: $separation;
			margin-left: 0;
			background-color: $negative-color;
			clear: both;


		}


		> .nav-item {
			font-weight: 700;
			margin:0 0.75rem;
			//position: relative;
			&:hover {
				color: $link-color;
				> a {
					color: $link-color;
				}
			}


			@include media-breakpoint-down(md) {
				border-bottom: 1px solid rgba($main-color,0.25);
				margin: 0;
				padding: 0.5rem 0.5rem 0.35rem 1rem;
			}

			.nav-link{
				&:before {
					background: $dark-color;
					display: inline-block;
					width: 2px;
					height: 1.5rem;
					vertical-align: top;
					content: "";
					transform: rotate(-30deg) translate(2px,-2px);

				}
			}
		}
	}

	.nav-link {
		color: $dark-color;
		text-transform: uppercase;

	}
}
.breadcrumb {
	background: transparent;
	font-size:0.75rem ;
}
//slider
.carousel-indicators {
	//position: static;
	background-color: rgba($negative-color,0.25);
	margin:0 auto;
	padding: 0.5rem;
	border-radius: 1rem;
	left: 50%;
	right: auto;
	transform: translateX(-50%);

	li {
		border-radius: 1rem;
		width: 0.5rem;
		height: 0.5rem;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
		cursor: pointer;
		background-color: $negative-color;
		transition: scale .3s linear;
		&.active {
			background-color: $link-color;
			transform: scale(1.25,1.25);
		}
	}
	@include media-breakpoint-down(sm) {
		position: static;
		transform: none;
		li {
			background-color: rgba($main-color,0.5);
		}
	}

}
.carousel-caption {

	top: 50%;
	transform: translateY(-50%);
	bottom: auto;
	font-family:  $alt-font;



	div {
		line-height: 1.25;
		width: 70%;
		padding-right: 0.25rem;
		padding-left: 0.25rem;
		margin: $separation auto;
		text-shadow: 0 1px 1px 1px $main-color;
		background-color:  rgba($dark-color,0.2);
		border:2px solid rgba($negative-color,0.8);
		font-size: 4rem;
		font-weight: 700;
		@include media-breakpoint-down(md) {
			width: 95%;
			font-size: 2.25rem;
		}
	}
	p {
		line-height: 1.5;
		width: 50%;
		margin: 0 auto;
		text-shadow: 0 1px 1px 1px $main-color;
		background-color:  rgba($dark-color,0.6);
		font-size: 2.25rem;
		font-weight: 300;
		@include media-breakpoint-down(md) {
			width: 75%;
			font-size: 1.5rem;
		}
	}


}


.owl-dots .owl-dot  {

	span{
		background-color: rgba($main-color,0.5) !important;
		width: 0.5rem;
		height: 0.5rem;
	}

	&.active {
		span {
			background-color: $link-color !important;
		}


	}
}
@include media-breakpoint-only(xl) {
	.carousel-control-prev, .carousel-control-next { display: none; }
}

.header-slider {
	background-color: $light-color;
	max-height: 630px;
	overflow: hidden;
	img {
		width: 100%;
		opacity: 0.8;
	}
	> .container {
		//height: 100%;
		position: absolute;
		left: 50%;
		height: 50%;
		transform: translate(-50%,-50%);
	}
}

//services
.services {


}
.service-item {
	//outline: 1px solid #fff;
	@include media-breakpoint-down(sm) {
		flex-direction: column;
		align-items: center;
	}
	strong {
		font-family: $alt-font;
		display: block;
		text-transform: uppercase;
		//font-size: 1rem;
	}
	small {
		opacity: 0.7;
	}
	.icon {
		//color: $negative-color;
		fill: currentColor;
	}
}

img {
	&.clip {
		clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 80%);
		padding-bottom: $separation*0.75;

	}

}
@supports (clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 80%)) {
	img.clip {
		padding-bottom: 0;
	}

}

.cat-overlay {
	background-color:$color3;
	top: auto;
	left: 10%;
	right: 10%;
	z-index: 2;
	a {
		color: $negative-color
	}

}
.top-cat {
	margin-bottom: 1.5rem;
	.card {
		background-color: transparent;
		@include media-breakpoint-down(sm) {
			margin-bottom: 1rem;
		}
	}
	.card-title {
		font-family: $alt-font;
		margin-bottom: 0;
		text-transform: uppercase;
		@include media-breakpoint-down(md) {
			font-size: 1.25rem
		}
		small {
			display: block;
			font-weight: 300;
		}
		strong {

		}
	}
}


//drodown
.navbar .dropdown {
	position: relative;
	&.mega-menu {
		position: static;
		.dropdown-menu {
			left: 0;
			right: 0;
			top: 3.5rem;
		}
	}

}
.mega-menu-title {
	border-bottom: 1px solid rgba($main-color,0.2);
	margin-bottom: $separation*0.5;
	margin-top: $separation*0.5;
	text-transform: uppercase;
	padding: 0.25rem;
}
.mega-menu-img {
	position: relative;
	.banner-caption {
		color: $negative-color;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);

		text-align: center;
		em {
			display: block;
			margin-bottom: $separation*0.5;
			font-size: 1.25rem;
			font-style: normal;
		}
		.btn {
			opacity: 0.9;
		}
	}

}
.dropdown-menu {
	font-size: 0.875rem;
	@include media-breakpoint-down(md) {
		border: 0;
		.row > div {
			padding-right: 0;
			padding-left: 0;
		}
		.mega-menu-title {
			display: none;
		}
	}
	ul {
		margin: 0;
		padding: 0;


	}

}
.dropdown-item {
	padding-left: 0.5rem;
}

.cart {
	font-family: $alt-font;
	.dropdown-toggle {
		display: inline-block;

		background-color: $dark-color;
		color: $negative-color;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		padding: 0.25rem;
		text-align: center;
		position: relative;
		&:after {
			display:none;
		}

		svg {
			width: 100%;
			height: 100%;
		}
		.badge {
			position: absolute;
			top: -3px;
			right: -3px;
		}
	}
	.dropdown-cart {
		padding: 0.25rem;
		width: 250px;
		position: absolute;
	}
	li {
		border-bottom: 1px solid rgba($main-color,0.1);
		margin-bottom: 0.5rem;
		&:first-child {
			margin-top:$separation*0.5;
		}
	}
	.cart-img {
		width: 72px;
	}
	.product-name {
		font-weight: 600;
		//font-family: $alt-font;
		span {
			font-weight: 400;

		}
	}
	li > div {
		margin-bottom: 0.5rem;
		padding: 0 0.5rem;
	}

	.product-name, .price-new {
		font-size: 0.875rem;
		display: block;
	}

	.price-new {
		color: $discount-color;
		font-size: 0.825rem;
	}
	.cart-button {
		margin-left: auto;
		align-self: center;
	}
}




//banners
.banner {
	border: 1px solid $link-color;
	background-color: $link-color;
	color: $negative-color;
	text-align: left;
	position: relative;
	margin-bottom: $separation;
	display: flex;
	align-items: center;
	.banner-caption {
		padding: $separation;
		width: 50%;
		small {
			display: block;
		}
	}
	.banner-img {
		max-height: 300px;
		overflow: hidden;
		width: 50%
	}
	@include media-breakpoint-down(md) {
		flex-direction: column;
		.banner-caption, .banner-img {
			width: 100%;
		}
		.banner-img {
			order: 1;
		}
		.banner-caption {
			order: 2;

		}
		img {
			max-width: 100%;

		}

	}


	&.full-image {
		img {
			width: 100%
		}
		.banner-img {
			width: 100%;

		}
		.banner-caption {
			color: $link-color;
			background-color: rgba($negative-color,0.95);
			width: 50%;
			position: absolute;
			left: 5%;
			top: 50%;
			transform: translateY(-50%);
			@include media-breakpoint-down(sm) {
				background-color: transparent;
				color: $negative-color;
				width: 100%;
				position: static;
				top: auto;
				bottom: 5%;
				transform:none;
			}
		}
	}
}



.checkout-step {
	.section-head {
		position: relative;
		&:before {
			background: $dark-color;
			display: inline-block;
			width: 2px;
			height: 1.25em;
			vertical-align: top;
			content: "";
			transform: rotate(-30deg) translate(5px,2px);

		}
	}
	.step-count {
		position: absolute;
		left: -1.5rem;
		top: 50%;
		transform: translateY(-50%);

	}

}
.step-count {
	color: $link-color;
	font-size: 2.25rem;
	font-weight: 300;
}

/* contact section */
.contact-info { margin-bottom: 1em}
.contact-info P { margin-bottom: 0; padding: 0.75em 0.25em}
.contact-info i {color: #b3d031; margin-right: 0.5em}
#company-location {
	height: 60vh;
	max-height:630px;
	min-height: 375px;
}




//sidebar
.sidebar {
	.widget-container {
		border-radius: 2px;
		background-color: $negative-color;
		margin:$separation*0.5 0 $separation;
		padding: 0.75rem;
		&.widget-colored {
			background-color: $link-color;
			color: $negative-color;
		}
	}
	.widget-title-l2 {
		/*font-family: $alt-font;
		font-size: 1rem;
		font-weight: 600;*/
		text-transform: uppercase;
		color: $dark-color;
		margin-bottom: $separation*0.5;
	}
	.widget-colored {
		li {
			margin-bottom: $separation*0.5;
			.d-flex {
				color: $negative-color;
				.icon {
					margin-left: auto;
				}
			}

		}
	}
}

//pagination
.page-link {
	border: 0;
	border-radius: 50%;
	color: $link-color;
	&:hover {
		color:$dark-color;
	}
}
.page-item {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	&.active {
		.page-link {
			background-color: $link-color;
		}

	}
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
	border-radius: 50%;
}

//brands
.feat-brands {
	div[class^="col"] {
		//border: 1px solid #000;
	}
	img {
		opacity: 0.6;
	}
}

.page-title {
	font-family: $alt-font;
	text-align: center;
	margin: $separation*2 0;
	.icon {
		color: $link-color;
		margin-bottom: $separation*0.5;
		&.big {
			width: 80px;
			height: 80px;
		}
	}
	h1 {
		text-transform: uppercase;
		font-size: 3rem;
		font-weight: 700;
		color: $link-color;
		margin-bottom: 0
	}
	.lead {
		font-weight: 600;
		strong {
			color: $link-color;
			font-size: 1.5rem;
		}
	}
	@include media-breakpoint-down(sm) {
		margin: $separation 0;
		h1 {
			font-size: 2.5rem;
		}
	}
}


//about
.worker-item {
	margin-bottom:$separation
}
.worker-name {
	display: block;
	font-family: $alt-font;
	font-size: 1.1rem;
	margin-top: $separation*0.75;
}

//faq
.accordion {
	.card-header {
		background-color: transparent;
		color: $link-color;
		cursor: pointer;
		position: relative;
		padding-right: 2rem;
		span {
			position: absolute;
			top: 50%;
			right: 0.5rem;
			transform: translateY(-50%);
		}
	}
	h5 {

	}
}

.accordion-blocks {
	.card {
		margin-bottom: $separation;
	}

}

.sidebar {
	.toc {
		position: sticky;
		top: $separation;
		a {
			text-transform: none;
			font-weight: 400;
		}
	}
}

//footer
#ft {
	background-color: $link-color;
	background: $color3 url(../assets/bgr-ft.png);
	margin-top: 30px;
	border-top: 4px solid $color3;
	.logo {
		.icon {
			width: 100%;
			height: auto;
		}
	}
}
.ft-top {
	background-color: rgba($alt-bg-color, 1);
	div[class^="col"] {
		margin-bottom: $separation*0.5;
		&:nth-of-type(2) {
			border-left: 1px solid $link-color;
			@include media-breakpoint-down(xs) {
				border: 0;
			}
		}
	}
	.lead-adquisition {

		margin-left: 110px;
		position: relative;

		&:before {
			content:"";
			position: absolute;
			width:105px;
			margin-left: -110px;
			height: 190px;
			bottom: -10px;
			background: url(../assets/lead-img.png) no-repeat 0 0;
			//border: 1px solid #000
		}
		@include media-breakpoint-down(md) {
			margin-left: 0;
			&:before {
				display:none;
			}


		}
	}
	.widget-title-l1 {
		color: $dark-color;
	}

}

.ft-widgets-container {

	color: $negative-color;
	a {
		color: $negative-color;
	}
}
.ft-widget {
	@include media-breakpoint-down(md) {
		margin-top: $separation
	}

	li {
		margin:0.5rem 0;
	}
}
.copy-info {
	div {
		vertical-align: middle;
	}
}
.payment-methods [class^="icon"] {
	display: block;
	overflow: hidden;
	filter: alpha(opacity=75);
	opacity: 0.85;

}

.testimonial-area {
	img {
		width: 75px;
		height: 75px
	}
}
.testimonials-author {
	font-size: 0.825rem;
	text-transform: uppercase;
	opacity: 0.75;
	font-weight: 600;
}


.address-list {
	li {
		margin-bottom: $separation*0.5;
		position: relative;
	}
	.icon {
		position: absolute;
		left: -28px
	}
}

@import "product-page";
@import "post-page";
@import "tables";
@import "owl-carousel";
@import "user-changes";


//documentation
.documentation {
	h2 {
		margin-bottom:$separation ;
		color: $link-color;
	}
	h3, h5 {

		margin-top:$separation;
		margin-bottom: $separation*0.5;

	}
	h4 {
		opacity: 0.8
	}
}

